<div class="jumbo show-listing">
  <h2 class="title">{{model.title}}</h2>
  <div class="results">
    <div class="detail author">
      <strong>Author:</strong> {{model.author}}
    </div>
    <div class="detail">
      <strong>Date:</strong> {{model.date}}
    </div>
    <div class="detail">
      <strong>Subject:</strong> {{model.subject}}
    </div>
    <p class="description">{{model.description}}</p>
  </div>
</div>
